.App{

    background-color: #eee;
    width: 100vw;
    height: 100vh;
    margin: 0;
    min-width: fit-content;
  }
  
  .search-bar-container {
    /* padding-top: 20vh; */
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
  }
  
  /* ///////////////////////////////////////////////////////// */
  /* .App {
      justify-content: center;
      align-items: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    
    .head {
      width: 100%;
      border: none;
  
      height: 80px;
      background-color: #c0b1dba6;
    }
  .table_container {
      flex: 3;
      position: relative;
  }
  
    .wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .container {
      width: 80%;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: white;
    }
  
    
    
    textarea:focus, input:focus{
      outline: none;
    }
    
    body {
      margin: 0;
      min-width: fit-content;
  }
      padding: 0;
      background-color: #d8dae9;
    }
    
    .auth {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .auth-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      margin: 20px;
      width: 400px;
    }
    
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    label {
      padding-top: 5px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    input {
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
    }
    
    .navbar {
      margin: 0;
      width: 100%;
      height: 80px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
    }
    
    .navbar :hover{
      transition: 0.2s ;
      transform: scale(1.02, 1.02) translate(0, -3px);
      transition: 0.5;
    }
    
    a {
      color: white;
      text-decoration: none;
      margin: 10px;
      font-size: 25px;
    }
    
    .create-recipe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      margin: 20px;
      width: 400px;
    }
    .create-recipe form {
      display: flex;
      flex-direction: column;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      padding: 10px;
      margin-bottom: 10px;
    }
    
    h2 {
      margin-top: 0;
    }
    
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      transition: 0.2s all ease-in-out;
    }
    
    img {
      width: 400px;
      border-radius: 10px;
    }
    
    p {
      max-width: 400px;
      font-size: 12px;
    }
    
    .main-card{
      margin: 15px 10px;
  
      background-image: linear-gradient(to right, #c0b1dba6 ,  #fff, #d8dae95e);
      border-radius: 20px;
      transition: 0.2s all ease-in-out;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.374);
      width: 45%;
    box-sizing: border-box;
      
    }
    
    .main-card:hover{
      transform: scale(1.02, 1.02);
      transition: 0.5;
    }
    
    .main-crolling-div{
      background-color: white;
      padding: 50px;
      padding-top: 0;
      box-shadow: inset 0 -3em 3em rgba(255, 0, 200, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      margin-top: 2px;
    }
    
    .card-button{
      transition: 0.2s all ease-in-out;
      box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1), 0 0 0 0, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      
      padding: 8px 16px;
      border-radius: 99px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
    }
    
    
    .form-btn:hover,
    .card-button:hover{
      transform: scale(1.02, 1.02) translate(0, -3px);
      transition: 0.5;
    }
    
    .form-ip{
      border: none;
      box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1), 0 0 0 0, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      
    }
    
    .form-ip-ingredient{
      margin-bottom: 5px;
    }
    
    .form-btn{
      margin-top: 8px;
      border: none; 
      transition: 0.2s all ease-in-out;
    }
    .form-ip:selection{
      border: none;
    }
    
    
    .instructions{
      color: #202020d3;
      border-radius: 4px;
      padding: 5px;
      font-size: 15px;
      font-weight: 500;
      transition: 0.2s all ease-in-out;
    }
  
  
    .body {
      height: 500px;
      display: flex;
    }
  